{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
{% include 'includes/header.html' %}

<!-- Breadcrumbs -->
<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({{ url_for('static', filename='images/bg-image-1.jpg') }});">
  <div class="breadcrumbs-custom-inner">
    <div class="container breadcrumbs-custom-container">
      <div class="breadcrumbs-custom-main">
        <h6 class="breadcrumbs-custom-subtitle title-decorated">О блоге</h6>
        <h1 class="breadcrumbs-custom-title">HTML5 игры</h1>
      </div>
      <ul class="breadcrumbs-custom-path">
        <li><a href="{{ url_for('main.index') }}">Главная</a></li>
        <li class="active">О нас</li>
      </ul>
    </div>
  </div>
</section>

<!--Overview-->
<section class="section section-lg right-pattern">
  <div class="container">
    <div class="row row-50 justify-content-center justify-content-lg-between">
      <div class="col-md-10 col-lg-6">
        <h2 class="wow-outer font-weight-bold text-gray-800"><span class="wow slideInUp">Обзор</span></h2>
        <h5 class="offset-top-3 text-gray-800 font-weight-light">HTML5-игры – незатейливый способ войти в геймдев-индустрию для тех, кто только осваивает программирование.</h5>
        <p>Достаточно знать стандартные для веба HTML, CSS и JavaScript. Код не придется писать с нуля: разработчики уже написали движки для создания игр. У пользователей хорошо заходят маленькие игры и простые динамики.</p>
        <div class="group group-middle">
          <a class="button button-primary button-winona button-secondary" href="{{ url_for('main.index') }}" data-waypoint-to="#our-history">Далее</a>
          <a class="button button-icon button-icon-left button-primary-outline button-winona button-secondary" href="#">
            <span class="icon mdi mdi-discord-messenger discord-icon"></span>Discord
          </a>
        </div>
      </div>
      <div class="col-md-10 col-lg-6 col-xl-5">
        <img class="img-responsive" src="{{ url_for('static', filename='images/about_560_480.png') }}" alt="" width="560" height="480"/>
      </div>
    </div>
  </div>
</section>

<!--Our history-->
<section class="section section-lg bg-image-1" style="background-image: url({{ url_for('static', filename='images/our-history-1920x1616.jpg') }});" id="our-history">
  <div class="container">
    <!-- Timeline Classic-->
    <article class="timeline-classic">
      <div class="timeline-classic-item">
        <div class="timeline-classic-item-aside">
          <img class="timeline-classic-item-image" src="{{ url_for('static', filename='images/grid-layout-2-370x256.jpg') }}" alt="" width="390" height="250"/>
        </div>
        <div class="timeline-classic-item-divider"></div>
        <div class="timeline-classic-item-main">
          <h2 class="wow-outer font-weight-bold text-white"><span class="wow slideInUp">Легкость создания</span></h2>
          <h5 class="offset-top-3 text-white font-weight-light">Достаточно знать стандартные для веба HTML, CSS и JavaScrip</h5>
          <p class="text-white-darker">Код не придется писать с нуля: разработчики уже написали движки для создания игр. У пользователей хорошо заходят маленькие игры и простые динамики.</p>
        </div>
      </div>
      <div class="timeline-classic-item">
        <div class="timeline-classic-item-aside">
          <img class="timeline-classic-item-image" src="{{ url_for('static', filename='images/grid-layout-1-370x256.jpg') }}" alt="" width="390" height="250"/>
        </div>
        <div class="timeline-classic-item-divider"></div>
        <div class="timeline-classic-item-main">
          <h2 class="wow-outer font-weight-bold text-white"><span class="wow slideInUp">Кроссплатформенность</span></h2>
          <h5 class="offset-top-3 text-white font-weight-light">В игру можно играть абсолютно везде,  с телефона, с планшета и компьютера</h5>
          <p class="text-white-darker"> Соответственно можно делать многопользовательские игры.</p>
        </div>
      </div>
      <div class="timeline-classic-item">
        <div class="timeline-classic-item-aside">
          <img class="timeline-classic-item-image" src="{{ url_for('static', filename='images/grid-layout-9-370x256.jpg') }}" alt="" width="390" height="250"/>
        </div>
        <div class="timeline-classic-item-divider"></div>
        <div class="timeline-classic-item-main">
          <h2 class="wow-outer font-weight-bold text-white"><span class="wow slideInUp">Доступность площадок</span></h2>
          <h5 class="offset-top-3 text-white font-weight-light">Разработчики публикуют игры</h5>
          <p class="text-white-darker">Разработчики публикуют игры в AppStore и Google Play, на специальных площадках, платформах социальных сетей и мессенджеров.</p>
        </div>
      </div>
    </article>
  </div>
</section>

<!--Testimonials-->
<section class="section section-lg text-center">
  <div class="container">
    <h2 class="wow-outer font-weight-bold text-gray-800"><span class="wow slideInUp">О себе</span></h2>
    <div class="slick-widget-testimonials wow fadeIn">
      <div class="slick-slider carousel-parent" data-arrows="false" data-loop="true" data-dots="false" data-swipe="false" data-items="1" data-child="#child-carousel">
        <div class="item">
          <blockquote class="quote-light">
            <cite class="quote-light-cite">Иван Дунупин</cite>
            <p class="quote-light-caption">Энтузиаст HTML5-игр и геймдева</p>
            <div class="quote-light-text">
              <p>Этот блог вырос из уроков программирования для детей.<br/> Здесь — простые идеи и живой подход.</p>
            </div>
          </blockquote>
        </div>
        <div class="item">
          <blockquote class="quote-light">
            <cite class="quote-light-cite">Александр Иванов</cite>
            <p class="quote-light-caption">Постоянный клиент</p>
            <div class="quote-light-text">
              <p>Блог вырос из уроков программирования для детей. Здесь — простые идеи и живой подход.</p>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Latest Blog Posts-->
<section class="section section-md bg-gray-100">
  <div class="container">
    <h2 class="title-indent text-center wow-outer font-weight-bold text-gray-800">
      <span class="wow slideInUp">Последние Записи Блога</span>
    </h2>
    <div class="row row-50 justify-content-center justify-content-lg-start">
      {% for post in latest_posts %}
      <div class="col-md-10 col-lg-6 wow-outer">
        <article class="post-block bg-gray-700">
          {% if post.image %}
          <img class="post-block-image" src="{{ url_for('static', filename=post.image) }}" alt="" width="637" height="456"/>
          {% endif %}
          <div class="post-block-caption">
            <ul class="post-block-meta">
              <li class="wow-outer"><span class="wow slideInLeft">{{ post.author.email if post.author else 'Админ' }}</span></li>
              <li class="wow-outer">
                <time class="wow slideInLeft" datetime="{{ post.created_at.strftime('%Y-%m-%d') }}">
                  {{ post.created_at.strftime('%d.%m.%Y') }}
                </time>
              </li>
            </ul>
            <h4 class="post-block-title">
              <a href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a>
            </h4>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include 'includes/footer.html' %}
{% endblock %} 