<!-- Page Footer-->
<footer class="section footer-linked bg-gray-750">
  <div class="footer-linked-main">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-8">
          <h4 class="text-title-footer">Quick Links</h4>
          <hr class="offset-right-1">
          <div class="row row-20">
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="{{ url_for('main.tutorials') }}">Все туториалы</a></li>
                <li><a href="{{ url_for('main.single_tutorial') }}">Python</a></li>
                <li><a href="{{ url_for('main.single_tutorial') }}">JavaScript</a></li>
                <li><a href="{{ url_for('main.single_tutorial') }}">Java</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="{{ url_for('blog.index') }}">Новости</a></li>
                <li><a href="{{ url_for('main.about') }}">О проекте</a></li>
                <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                <li><a href="{{ url_for('auth.register') }}">Регистрация</a></li>
                
              </ul>
            </div>
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="{{ url_for('main.contacts') }}">Контакты</a></li>
                <li><a href="{{ url_for('main.gallery') }}">Калерея</a></li>
                <li><a href="{{ url_for('main.single_tutorial') }}">Библиотека</a></li>
                <li><a href="{{ url_for('main.history') }}">История</a></li>
              
              </ul>
            </div>
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><span class="text-subtitle hidden-info font-weight-light"> Telegram</span></li>
                <li><a href="#">Telegramm</a></li>
                <li><a href="#">Vkontakte</a></li>
                <li><a href="#">Odnoklasniki</a></li>
      
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-4">
          <h4 class="text-title-footer">Contact Information</h4>
          <hr>
          <ul class="list-sm">
            <li class="object-inline"><span class="icon icon-md mdi mdi-map-marker"></span><a class="link-default" href="#">2130 Fulton Street San Diego, CA <br> 94117-1080 USA</a></li>
            <li class="object-inline"><span class="icon icon-md mdi mdi-phone"></span>
              <ul class="list-0">
                <li><a class="link-default" href="tel:#">1-800-1234-678</a></li>
                <li><a class="link-default" href="tel:#">1-800-8765-098</a></li>
              </ul>
            </li>
            <li class="object-inline"><span class="icon icon-md mdi mdi-email"></span><a class="link-default" href="mailto:#">info@demolink.org</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-linked-aside">
    <div class="container">
      <!-- Rights-->
      <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="#">Terms of Use</a><span> and</span><span>&nbsp;</span><a href="{{ url_for('main.privacy') }}">Privacy Policy</a></p>
    </div>
  </div>
</footer> 